/* ===========root style================ */
:root{
    ---bg-color---: #cf9d49;
    ---nav-default-color---: #9f9f9f;
    ---nav-hover-color---: #636363;
    ---button-color: #ababab;
    ---white-color---: #fff;
    ---black-color: #000;
}
html{
    font-size: 62.5%;
}
/* ===========font style================= */
h1{
    font-size: 4.2rem;
    line-height: 1.5;
}
h2{
    font-size: 2.8rem;
    line-height: 1.5;
}
p{
    font-size: 1.7rem;
    line-height: 1.5;
}
li{
    list-style-type: none;
}
a{
    font-size: 1.5rem;
    text-decoration: none;
}
span{
    font-size: 1.4rem;
}
/* ==========hero-section=========== */
main{
    width: 100%;
    position: relative;
    margin-bottom: 4rem;
}
main>img{
    position: relative;
    width: 100%;
    height: 50vh;
}
main>.write-up{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: var(---white-color---);
}

/* ==========about-section============ */
.about-container{
    background-color: var(---black-color);
    padding: 6rem 15%;
}
/* ==========about-section============ */
.about-container>.image-container{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.about-container>p{
    color: var(---white-color---);
    margin-bottom: 1rem;
}

/* ==================media==================== */
@media(max-width: 67.5rem){
    /* 1080/16 = 67.5rem */

    main>img {
        width: 100%;
        height: 40vh;
    }

    .about-container>.image-container>img{
        width: 90%;
    }

}

@media(max-width: 63.4rem){
    /* 1014/16 = 63.375rem */

    html{
        font-size: 56.25%;
        /* 9/16 = 56.25 */
    }

    #primary-btn {
        margin-top: 1rem;
    }

    .about-container>.image-container>img{
        width: 80%;
    }

}
@media(max-width: 54.4rem){
    /* 870/16 = 54.375rem */

    main>img {
        width: 100%;
        height: 30vh;
    }

    .about-container>.image-container>img{
        width: 70%;
    }


}
@media(max-width: 31.1rem){
    /* 497/16 = 31.0625rem */

    main>img {
        width: 100%;
        height: 20vh;
    }

    .about-container>.image-container>img{
        width: 60%;
    }

}

@media(max-width: 44.4rem){
    /* 710/16 =  44.375*/

    html{
        font-size: 50%;
        /* 8/16 = 0.5 */
    }

    .about-container>.image-container>img{
        width: 50%;
    }

    nav>ul {
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        width: 300px;
        position: fixed;
        top: 0;
        right: 0;
        padding: 50px 0px 0px 30px;
        background-color: var(---white-color---);
        z-index: 90;
        height: 100vh;
        transform: translateX(100%);
        transition: all 0.3s ease-in-out;
    }

    .open-navbar,.close-navbar{
        visibility: visible;
    }
    
    .open-nav{
        transform: translateX(0%);
    }
}

@media(max-width: 25rem){
    /* 400/16 =25rem */

    html{
        font-size: 43.75%;
        /* 7/16 = 4375 */
    }

    .about-container>.image-container>img{
        width: 40%;
    }
}