/* ===========root style================ */
:root{
    ---bg-color---: #cf9d49;
    ---nav-default-color---: #9f9f9f;
    ---nav-hover-color---: #636363;
    ---button-color: #ababab;
    ---white-color---: #fff;
    ---black-color: #000;
}
html{
    font-size: 62.5%;
}
/* ===========font style================= */
h1{
    font-size: 4.2rem;
    line-height: 1.5;
}
h2{
    font-size: 2.8rem;
    line-height: 1.5;
}
p{
    font-size: 1.7rem;
    line-height: 1.5;
}
li{
    list-style-type: none;
}
a{
    font-size: 1.5rem;
    text-decoration: none;
}
span{
    font-size: 1.4rem;
}
/* ============footer============= */
footer>.main-footer{
    background-color: var(---nav-default-color---);
    text-align: center;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    span,a{
        color: var(---white-color---);
    }
}
.footer-banner{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 4rem;
    background-color: var(---black-color);
    color: var(---white-color---);   
}
.footer-banner>#logo{
    font-size: 2.8rem;
    text-transform: uppercase;
    color: var(---white-color---);
}
.footer-banner>ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    

    li>a{
        color: var(---nav-default-color---);
        transition: all 0.3s ease-in-out;
    }
}
.footer-banner>ul>li>a:hover{
    color: var(---nav-hover-color---);
    text-decoration: underline;
}