/* ==============header=section======= */
header{
    height: 12vh;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #fff;
}
header>.site-logo>a{
    font-size: 2.8rem;
    text-transform: uppercase;
    color: var(---black-color);
}
nav>ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
nav>ul>li>a{
    color: var(---nav-default-color---);
    transition: all 0.3s ease-in-out;
}
nav>ul>li>a:hover{
    color: var(---nav-hover-color---);
}
.open-navbar,.close-navbar{
    visibility: hidden;
    font-size: 1.7rem;
}