/* ===========root style================ */
:root{
    ---bg-color---: #cf9d49;
    ---nav-default-color---: #9f9f9f;
    ---nav-hover-color---: #636363;
    ---button-color: #ababab;
    ---white-color---: #fff;
    ---black-color: #000;
}
html{
    font-size: 62.5%;
}
/* ===========font style================= */
h1{
    font-size: 4.2rem;
    line-height: 1.5;
}
h2{
    font-size: 2.8rem;
    line-height: 1.5;
}
p{
    font-size: 1.7rem;
    line-height: 1.5;
}
li{
    list-style-type: none;
}
a{
    font-size: 1.5rem;
    text-decoration: none;
}
span{
    font-size: 1.4rem;
}
/* ==========hero-section=========== */
main{
    width: 100%;
    position: relative;
    margin-bottom: 4rem;
}
main>img{
    position: relative;
    width: 100%;
    height: 50vh;
}
main>.write-up{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: var(---white-color---);
}

/* ==========music-section============ */
.music-cover-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.music-cover-container{
    position: relative;
    width: 270px;
    height: 240px;
    margin-bottom: 3rem;
}
.music-cover-container>img{
    width: 100%;
    object-fit: cover;
    transition: filter 0.3s ease-in-out;
}
.music-cover-container>img:hover{
    filter: brightness(60%);
}
.hover-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(---white-color---);
    font-weight: 600;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    text-align: center;
}
.music-cover-container:hover .hover-text{
    opacity: 1;
}
.hover-date{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(---white-color---);
    font-weight: 600;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    text-align: center;
}

.music-cover-container:hover .hover-date{
    opacity: 1;
}
