/* ===========root style================ */
:root{
    ---bg-color---: #cf9d49;
    ---nav-default-color---: #9f9f9f;
    ---nav-hover-color---: #636363;
    ---button-color: #ababab;
    ---white-color---: #fff;
    ---black-color: #000;
}
html{
    font-size: 62.5%;
}
/* ===========font style================= */
h1{
    font-size: 4.2rem;
    line-height: 1.5;
}
h2{
    font-size: 2.8rem;
    line-height: 1.5;
}
p{
    font-size: 1.7rem;
    line-height: 1.5;
}
li{
    list-style-type: none;
}
a{
    font-size: 1.5rem;
    text-decoration: none;
}
span{
    font-size: 1.4rem;
}
/* ============hero=section============== */
/* .main-backgroung-image{
    height: 80vh;
    background-image: url(../images/slide-2-image.webp);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
} */
main{
    width: 100%;
    height: 75vh;
    background-color: var(---black-color);
    position: relative;
}
main>a>img{
    width: 100%;
    height: 60vh;
}
main>.write-up{
    position: absolute;
    bottom: 20px;
    right: 0;
    left: 0;
    text-align: center;
    padding: 2rem;
}
main>.write-up>p{
    color: var(---white-color---);
    display: inline-block;
}
#primary-btn{
    display: inline-block;
    background-color: var(---button-color);
    color: var(---white-color---);
    padding: 0.7rem 1rem;
    font-size: 2rem;
    margin-left: 3rem;
    border-radius: 1px;
    transition: all 0.3s ease-in-out;
}
#primary-btn:hover{
    background-color: var(---nav-hover-color---);
    color: var(---button-color);
}
/* ===========store-section========== */
.store>.store-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#store-btn{
    background-color: var(---black-color);
    padding: 1.5rem;
    color: var(---white-color---);
}
#shop-all-btn{
    background-color: var(---button-color);
    color: var(---white-color---);
    padding: 0.7rem 1rem;
    font-size: 2rem;
    margin-left: 3rem;
    border-radius: 1px;
    transition: all 0.3s ease-in-out;
}
#shop-all-btn:hover{
    background-color: var(---nav-hover-color---);
    color: var(---button-color);
}
.store-items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.store-items>.item{
    width: 270px;
    height: 350px;
    display: flex;
    flex-direction: column;
    background-color: var(---black-color);
    color: var(---white-color---);
    text-align: center;
}
.store-items>.item>.image-container{
    width: 100%;
    height: 250px;
    flex-shrink: 0;
}
.store-items>.item>.image-container>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.store-items>.item>.item-writeup{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem;
}

/* =============tour-section============== */
.tour-section .tour-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tour-buttons h2{
    background-color: var(---black-color);
    padding: 1.5rem;
    color: var(---white-color---);
}
#all-tour-btn{
    background-color: var(---button-color);
    color: var(---white-color---);
    padding: 0.7rem 1rem;
    font-size: 2rem;
    margin-left: 3rem;
    border-radius: 1px;
    transition: all 0.3s ease-in-out;
}
#all-tour-btn:hover{
    background-color: var(---nav-hover-color---);
    color: var(---button-color);
}
.tour-container{
    padding: 3rem 4rem;
    background-color: var(---black-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}
.tour-container>.data-location{
    color: var(---white-color---);
    flex: 1;

    h2{
        font-size: 2rem;
    }
    p{
        margin-top: 0.7rem;
    }
}
.tour-container>.venue{
    color: var(---nav-default-color---);
    flex: 1;
}
.tour-container>.links>.get-ticket{
    flex: 1;
    color: var(---white-color---);
    background-color: var(---nav-hover-color---);
    padding: 0.7rem 1.5rem;
    border-radius: 3px;
    outline: none;
    border: none;
    cursor: pointer;
}
/* =============latest-news-section============== */
.latest-news-section .latest-news-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.latest-news-buttons h2{
    background-color: var(---black-color);
    padding: 1.5rem;
    color: var(---white-color---);
}
#latest-news-btn{
    background-color: var(---button-color);
    color: var(---white-color---);
    padding: 0.7rem 1rem;
    font-size: 2rem;
    margin-left: 3rem;
    border-radius: 1px;
    transition: all 0.3s ease-in-out;
}
#latest-news-btn:hover{
    background-color: var(---nav-hover-color---);
    color: var(---button-color);
}
/* ==============banner-section============= */
.banner-wrapper{
    position: relative;
    width: 100%;
}
.banner-wrapper>.banner-container{
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 4rem;
    background-color: var(---black-color);
    color: var(---white-color---);

}
.banner-container>a{
    color: var(---nav-default-color---);
}
.banner-container span{
    margin: 1rem 0;
    color: var(---nav-default-color---);
}
.banner-container>.main-content{
    margin-bottom: 3rem;
    color: var(---white-color---);
}
.banner-container>.main-content>a{
    color: var(---white-color---);
    
    h2{
        margin-bottom: 1rem;

    }
}

