/* ===========root style================ */
:root{
    ---bg-color---: #cf9d49;
    ---nav-default-color---: #9f9f9f;
    ---nav-hover-color---: #636363;
    ---button-color: #ababab;
    ---white-color---: #fff;
    ---black-color: #000;
}
html{
    font-size: 62.5%;
}
/* ===========font style================= */
h1{
    font-size: 4.2rem;
    line-height: 1.5;
}
h2{
    font-size: 2.8rem;
    line-height: 1.5;
}
p{
    font-size: 1.7rem;
    line-height: 1.5;
}
li{
    list-style-type: none;
}
a{
    font-size: 1.5rem;
    text-decoration: none;
}
span{
    font-size: 1.4rem;
}
/* ==========hero-section=========== */
main{
    width: 100%;
    position: relative;
    margin-bottom: 4rem;
}
main>img{
    position: relative;
    width: 100%;
    height: 50vh;
}
main>.write-up{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: var(---white-color---);
    padding: 2rem 0;

    h1{
        text-transform: uppercase;
    }
}

/* ==========tour-section============ */
.tour-container{
    padding: 3rem 4rem;
    background-color: var(---black-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}
.tour-container>.data-location{
    color: var(---white-color---);
    flex: 1;

    h2{
        font-size: 2rem;
    }
    p{
        margin-top: 0.7rem;
    }
}
.tour-container>.venue{
    color: var(---nav-default-color---);
    flex: 1;
}
.tour-container>.links>.get-ticket{
    flex: 1;
    color: var(---white-color---);
    background-color: var(---nav-hover-color---);
    padding: 0.7rem 1.5rem;
    border-radius: 3px;
    outline: none;
    border: none;
    cursor: pointer;
}

